.boxStyle {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.actionBar {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.dataGrid {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}