.boxStyle{
    // width: 30% !important;
    // height: 30px !important;
}

.textField {
    height: 40px !important;
    margin-left: 2%;
    width: 60%;
}

// .MuiInputBase-root-MuiOutlinedInput-root{
//     height:40px !important
// }